namespace GameNightSerialCommunications
{
    internal static class config
    {
        internal static string dbName = "";
        internal static string dbUsername = "";
        internal static string dbPassword = "";
        internal static string dbLocation = "";
        internal static string dbPort = "";
    }
}
